@import 'uview-plus/theme.scss';

$u-primary: #3b82f6;
$u-warning: #f59e0b;
$u-success: #10b981;
$u-error: #ef4444;
$u-info: #6366f1;
$u-main-color: #1f2937;
$u-content-color: #4b5563;
$u-tips-color: #9ca3af;
$u-bg-color: #f3f4f6;
